*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;

}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.card{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    
    height: 330px;
    width: 250px;
    
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;
    
}
#card1{
    background-color: blue;
    z-index: 4;
}
#card2{
    rotate: -7deg;
    background-color: green;
    z-index: 3;
    
}
#card2:hover{
    z-index: 10;
}
#card3{
    rotate: -14deg;
    background-color: yellow;
    z-index: 2;

}
#card3:hover{
    z-index: 10;
}
#card4{
    rotate: -21deg;
    background-color: red;
    z-index: 1;

}
#card4:hover{
    z-index: 10;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}