*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    
}
#header{
    width: 100%;
    height: 13%;
    background-color: white;
   
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    height: 70%;
    
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texts{
   color: rgb(1, 1, 77);
   margin: 20px;
   cursor: pointer;
   

}
.texts:hover{
    color: rgb(107, 201, 244);
}
#contact{
        
        font-weight: lighter;
        color: rgb(88, 88, 244);
}
.icon{
    
    padding: 5px;
    border-radius: 360px;
    cursor: pointer;
}
.icon:hover{
    background-color: lightblue;
}
#login{
    display: flex;
    cursor: pointer;
   
    padding: 6px;
    border-radius: 50px;
}
#login:hover{
    background-color: lightblue;

}
#try{
    background-color: rgb(24, 119, 24);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#try:hover{
    background-color: rgb(0, 99, 0);
}
#fakeheader{
    width: 100%;
    height: 13%;
    
    

}
#page1{
    height: 87%;
    width: 100%;
    
}
#strip{
    width: 100%;
    height: 8%;
    background-color: darkblue;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
#strip u{
    margin-left: 20px;
    font-weight: lighter;
}
#content{
    height: 76%;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
#box1{
    height: 90%;
    width: 47%;
    background-color: white;
    
}
#box1 h1{
    margin: 40px;
    font-weight: 600;
    color: rgb(1, 1, 111);
    font-size: 50px;
    margin: 30px 30px;

}
#box1 p{
    font-size: x-large;
    margin: 10px;
    font-weight: lighter;
    margin: 30px 30px;

}
#box2{
    height: 90%;
    width: 47%;
    border-radius: 20px;
    overflow: hidden;
    
   
}
#box2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#heading{
    height: 16%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: blue;
}
#heading h1{
    font-weight: 600;
}
#btns{
    display: flex;
    margin-left: 0px;
    align-items: center;
    cursor: pointer;
}
#btn1{
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: #46c3ec;
    border-radius: 5px;
    
   
}
#btn1:hover{
    background-color: rgb(3, 19, 123);
}
#btn2{
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: rgb(70, 195, 236);
    border: 1px solid rgb(70, 195, 236);
    border-radius: 5px;
    
}
#btn2:hover{
    background-color: rgb(24, 179, 231);
    color: rgb(4, 81, 123);
    
    border:rgb(4, 81, 123);
    
}

#page2{

    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  

  
  .card{
    width:230px;
    height: 310px;
    background-color: aliceblue;
    margin: 20px;
    margin-bottom: 100px;
    border-radius: 30px;
    box-shadow: 0 8px 25px;
    border: 1px solid #e5e5e5;
    background: #fff;
    transition: 0.3s ease;
}
.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.18);
  }

#card1 h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20%;
    margin-left: 20px;
    color: rgb(1, 1, 77);
    cursor: pointer;
}
#card1 h6:hover{
    color: rgb(16, 16, 240);
}

#card1 p{
    
    align-items: center;
    justify-content: center;
    margin-top: 60%;
    margin-left: 10px;
    color: black;
    font-weight: lighter;
}
#card2 h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20%;
    margin-left: 20px;
    color: rgb(1, 1, 77);
    cursor: pointer;
}
#card2 h6:hover{
    color: rgb(16, 16, 240);
}

#card2 p{
    
    align-items: center;
    justify-content: center;
    margin-top: 60%;
    margin-left: 10px;
    color: black;
    font-weight: lighter;
}
#card3 h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20%;
    margin-left: 20px;
    color: rgb(1, 1, 77);
    cursor: pointer;
}
#card3 h6:hover{
    color: rgb(16, 16, 240);
}

#card3 p{
    
    align-items: center;
    justify-content: center;
    margin-top: 60%;
    margin-left: 10px;
    color: black;
    font-weight: lighter;
}
#card4 h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20%;
    margin-left: 20px;
    color: rgb(1, 1, 77);
    cursor: pointer;
}
#card4 h6:hover{
    color: rgb(16, 16, 240);
}

#card4 p{
    
    align-items: center;
    justify-content: center;
    margin-top: 60%;
    margin-left: 10px;
    color: black;
    font-weight: lighter;

}
.tittle{
    color: rgb(2, 2, 93);
    cursor: pointer;
}
.tittle:hover{
    color: rgb(19, 19, 241);
}
#footer{
    width: 220px;
    height: 56px;
  
    background-color: #ffffff;
    border: 2px solid #6ec1ff;   /* light blue border */
    border-radius: 14px;
  
    color: #6ec1ff;              /* light blue text */
    font-size: 16px;
    font-weight: 500;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #footer:hover{
    background-color: #f0f8ff;   /* very light blue bg */
    border-color: #3aa9ff;       /* darker blue */
    color: #3aa9ff;              /* darker text */
  }
  
  
