*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: bisque;
}
#main{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#circle{
    border-radius: 360px;
  

}
#circle:hover{
    background-color:green;
  
}

h1{
    font-family: 'Gill Sans';
    font-weight: normal;
}
#square:hover{
    background-color: red;

}
#dimond{
    
    rotate: 45deg;
    margin-top: 50px;

}
#dimond:hover{
    
   background-color: blue;

}
.shape{
    margin-left: 10px; margin-top: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}